
/* 产品logo */
.single-graph{
    height: 64px;
    width: 100%;
    /*margin: 0 24px 0 24px;*/
    background: url(../images/titlebg.png) 20px center no-repeat;
    /* background-size: contain; */
    background-size: 23%;
}

/* loading */

.loading {
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -50px;
    z-index: 10;
}

.loading>div {
    background-color: #2d8cf0;
    height: 100% !important;
    width: 6px !important;
    display: inline-block !important;
    margin-left: 6px;
    border-radius: 5px;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.loading .rect2 {
    animation-delay: -1.1s;
}

.loading .rect3 {
    animation-delay: -1s;
}

.loading .rect4 {
    animation-delay: -0.9s;
}

.loading .rect5 {
    animation-delay: -0.8s;
}

@keyframes stretchdelay {
    0%,
    40%,
    to {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}


/* error page */

.box-vercenter,
.error-wrapper,
.error-wrapper .error-content {
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.error-wrapper .error-content {
    text-align: center;
    padding: 100px 0;
    font-size: 18px;
    color: #666;
}

.error-icon {
    background: url(../images/error_page.png) 0 0 no-repeat;
    background-size: 122px auto;
    width: 122px;
    height: 103px;
    vertical-align: middle;
    display: inline-block;
}

.error-wrapper .error-content .error-tip {
    margin-top: 30px;
}

.error-wrapper .error-content .logout-btn {
    font-size: 14px;
    margin-top: 20px;
}